*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.section1{
    background-image: url("assets/16.png");
    background-position:center;
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;

}